* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

html {
  --bg: linear-gradient(to right, #7f53ac 0, #657ced 100%);
  --bg-panel: #ebebeb;
  --color-headings: #165fc8;
  --color-text: #165fc8;
}

html[data-theme="dark"] {
  height: 100%;
  --bg: #333;
  --bg-panel: #434343;
  --color-headings: #165fc8;
  --color-text: #ffeff1;
}

:root {
  --background: rgb(255, 255, 255);
  --background2: rgb(204, 204, 204);
  --text: rgb(0, 0, 0);
  --highlight: #0aea93;
  --saber: rgb(141, 11, 247);
}

body {
  font-family: sans-serif;
  color: rgba(0, 0, 0, 0.603);
  font-size: 16px;
  line-height: normal;
}

h1 {
  margin-top: 0px;
  margin-bottom: 15px;
  font-size: 35px;
  line-height: 40px;
  font-weight: 700;
}

p {
  margin-top: 0px;
  margin-bottom: 20px;
  font-family: Merriweather, serif;
  line-height: 160%;
  font-weight: 300;
}

a {
  color: #7289da;
  text-decoration: none;
}

ul {
  margin-top: 0px;
  margin-bottom: 20px;
  padding-left: 40px;
  padding: 0;
}

ol {
  margin-top: 0px;
  margin-bottom: 10px;
  padding-left: 40px;
  font-family: Lato, sans-serif;
}

li {
  font-family: "Courier Prime", monospace;
  font-weight: normal;
}

img {
  display: inline-block;
  max-width: 100%;
}

.button {
  display: inline-block;
  padding: 11px 20px;
  border-radius: 3px;
  background-color: #fff;
  box-shadow: 0 0 0 1px #ddd;
  -webkit-transition: box-shadow 200ms ease;
  transition: box-shadow 200ms ease;
  color: #333;
  font-size: 16px;
  line-height: 20px;
  text-align: center;
  text-decoration: none;
}

.container {
  max-height: 100vh;
  max-width: 100vw;
  min-height: 100vh;
  background-color: rgb(0, 0, 0);
}

.section-1 {
  max-height: 24vh;
  min-height: 24vh;
  background-color: #000;
  text-align: center;
  white-space: normal;
}

.heading-1 {
  margin-top: 0px;
  padding-top: 10vh;
  background-color: transparent;
  font-family: "Courier Prime", monospace;
  color: #fff;
  font-size: 5vw;
  text-align: center;
  letter-spacing: 20px;
  text-decoration: none;
  text-transform: lowercase;
}

.section-2 {
  min-height: 0vh;
  background-color: #000;
  background-image: -webkit-gradient(
    linear,
    left top,
    left bottom,
    from(#2b5876),
    to(#4e4376)
  );
  background-image: linear-gradient(180deg, #2b5876, #4e4376);
  z-index: 10;
}

.heading-2 {
  min-height: 25vh;
  margin-bottom: 5px;
  padding-top: 10vh;
  background-color: #fff;
  opacity: 1;
  -webkit-backface-visibility: visible;
  backface-visibility: visible;
  font-family: "Roboto Mono", monospace;
  color: #0aea93;
  font-size: 22vw;
  line-height: 20px;
  text-align: center;
  z-index: inherit;
  overflow: visible;
  box-shadow: 0 11px 13px rgb(255, 255, 255), 0 10px 12px rgb(255, 255, 255);
  transition: all 1s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.heading-2 a {
  color: #0aea93;
}
.heading-2 a:hover {
  color: #000;
}

.heading-2:hover,
.heading-2:focus {
  background-position: right center;
  color: #000;
  box-shadow: inset 6.5em 0 0 0 #ffffff;
  background-color: rgb(255, 255, 255);
  font-size: 19vw;
}

.section-3 {
  min-height: 25vh;
  background-color: #000;
}

.heading-3 {
  padding-top: 10vh;
  padding-bottom: 0px;
  font-family: "Courier Prime", monospace;
  color: #fff;
  font-size: 3vw;
  line-height: 50px;
  font-style: normal;
  font-weight: 400;
  text-align: center;
  letter-spacing: 3.1415vw;
  text-decoration: none;
}

.section-4 {
  max-height: 25vh;
  min-height: 25vh;
  background-color: #fff;
  z-index: -4;
}

.button-1 {
  display: inline-block;
  width: 49vw;
  height: 25vh;
  margin-top: 0vh;
  margin-left: 0vw;
  padding: 0px;
  border-radius: 0px;
  background-color: transparent;
  background-image: url("../images/discord1.svg");
  background-position: 50% 62%;
  background-size: 512px 512px;
  background-repeat: repeat-y;
  background-attachment: scroll;
  text-align: center;
  text-transform: uppercase;
  background-clip: border-box;
  z-index: inherit;
}

.button-1:hover,
.button-1:focus {
  background-image: url("../images/discord2.svg");
  transform: scale(1.02);
}

.button-2 {
  display: inline-block;
  /* position: relative; */
  width: 49vw;
  height: 25vh;
  margin-top: 0vh;
  margin-left: 0vw;
  padding: 0px;
  border-radius: 0px;
  background-color: transparent;
  background-image: url("../images/gmail (2).svg");
  background-position: 75% 40%;
  background-size: 512px 512px;
  background-repeat: repeat-y;
  background-attachment: scroll;
  text-align: center;
  text-transform: uppercase;
  background-clip: border-box;
}

.button-2:hover,
.button-2:focus {
  background-image: url("../images/gmail.svg");
  transform: scale(1.02);
}
/* 
123
123
123
123
123
123
123
123
123 */

.navbar-fixed {
  position: fixed;
  top: -3em;
}
/*---------------------- $NAVBAR basic navbar styling ----------------------*/
nav {
  position: fixed;
  top: 0;
  height: 100px;
  width: 100%;
  background: var(--text);
  color: var(--background);
  font-weight: bold;
  letter-spacing: normal;
  max-height: 100px;
  margin-top: -20px;
  border-bottom: 3px solid #0aea93;
  border-radius: 5px;
}
nav ul {
  text-align: center;
  align-items: center;
  justify-content: center;
  /* margin: 0; */
}
nav ul li {
  display: inline-block;
  vertical-align: baseline;
  align-content: center;
  text-align: center;
  display: inline-block;
  font-family: "Courier Prime", monospace;
  font-size: 2em;
  font-weight: 700;
  padding: 1.3em 3em 0.7em 3em;
  line-height: normal;
  /* transition: all 1s ease; */
}
nav ul li:hover {
  /* background: #00939c; */
}
/*---------------------- $BODY ----------------------*/
body {
  /* background: #ffffff; */
}
/*---------------------- $MISC ----------------------*/
.blog-item img {
  display: block;
}

.blog-item a {
  display: flex;
  padding: 100px;
  padding-bottom: 20px;
  padding-top: 60px;
  padding-right: 100px;
  padding-left: 100px;
  overflow: hidden;
  align-items: center;
  max-width: 95vw;
  margin: auto;
  margin-top: 3vh;
  /* margin-bottom: 5vh; */
  background-color: #ffffffd5;
  color: #000;
  font-family: "Courier Prime", monospace;
  font-size: 2vw;
  border-radius: 6px;
  margin-bottom: 2vh;
  text-decoration: none;
  transition: all 1.3s ease;
}

.first-post {
  /* padding-top: 8vh; */
  margin-top: 15vh;
  color: rgb(141, 11, 247);
}
.first-post .title {
  /* padding-top: 8vh; */
  margin-top: -15vh;
  color: rgb(141, 11, 247);
}

.blog-item a:hover {
  box-shadow: 2px 2px 1px 1px rgba(0, 0, 0, 0.212),
    -2px -2px 0px 5px rgba(255, 255, 255, 0.158),
    rgba(10, 234, 148, 0.1) -7px 7px, inset 2px 2px 5px 0 rgba(197, 192, 192, 0),
    inset -1px -1px 0px 2px rgba(131, 128, 128, 0.6);
  /* box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 2px, rgba(0, 0, 0, 0.07) 0px 2px 4px,
    rgba(0, 0, 0, 0.07) 0px 4px 8px, rgba(0, 0, 0, 0.07) 0px 8px 16px,
    rgba(0, 0, 0, 0.07) 0px 16px 32px, rgba(0, 0, 0, 0.07) 0px 32px 64px; */

  /* box-shadow: rgba(0, 0, 0, 0.2) -5px 5px, rgba(10, 234, 148, 0.1) -20px 20px,
    rgba(10, 234, 148, 0.05) -25px 25px,
    inset 2px 2px 5px 0 rgba(29, 27, 27, 0.137),
    inset -1px -1px 0px 2px rgba(57, 58, 57, 0.123); */

  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.blog-item .content {
  width: 100%;
}

.blog-item .content .title {
  font-size: 2vw;
  text-transform: capitalize;
  color: #000000;
  font-weight: 600;
  font-family: "Courier Prime", monospace;
}

.blog-item .content .title .blog-date {
  font-size: 0.7vw;
  margin-left: 7vw;
  color: rgb(134, 130, 130);
  font-family: "Courier Prime", monospace;
}

.blog-item .content .title .blog-date:before {
  content: "|";
  color: #0aea93;
  font-size: 25px;
  top: auto;
  position: relative;
  margin-right: 2px;
}

/* .blog-item .content .line {
  margin-left: 0;
  margin-top: 10px;
  margin-bottom: 15px;
}

.line {
  width: calc(100% - 30em);
  height: 5px;
  border-radius: 10px;
  background-image: linear-gradient(to right, #0aea93, #000000);
  margin-left: 0;
  margin-top: 30px;
  margin-bottom: 10px;
  padding-bottom: 1px;
} */

.blog-item p {
  padding-top: 1vh;
  padding-bottom: 0vh;
  color: #000000;
  font-family: "Roboto Mono", monospace;
  font-size: 1rem;
  font-weight: 300;
  line-height: 5vh;
  text-align: left;
  align-content: center;
  justify-content: left;
}

@media screen and (max-width: 768px) {
  .blog-item .content {
    width: 100%;
    margin-top: 35px;
  }

  .blog-item .content .title {
    font-size: 18px;
  }

  .blog-item .item-arrow {
    margin: auto;
  }

  .blog-item .icon {
    width: 100%;
  }

  .blog-item .icon img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .blog-item {
    width: 92%;
    margin: auto;
  }

  .blog-item a {
    display: block;
    padding: 30px;
  }

  .blog-item p {
    font-size: 3vw;
  }
}
/* 
123
123
123
123
123
123
123
123
123
123
123
123 */

.story-item img {
  display: block;
}

.story-item {
  background: var(--background);
  /* background: #f0e4e4b7; */
  display: flex;
  padding: 100px;
  padding-bottom: 100px;
  padding-top: 75px;
  padding-right: 0vw;
  padding-left: 0vw;
  overflow: hidden;
  align-items: center;
  max-width: 95vw;
  margin: auto;
  margin-top: 10vh;
  font-family: "Courier Prime", monospace;
  border-radius: 6px;
  margin-bottom: 10px;
  text-decoration: none;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
}

.story-item .content {
  /* background: var(--background2); */
  margin: 0 auto;
  width: 90%;
}

.story-item .content.light-theme2 {
  background: var(--background2);
}

.story-item .content .title {
  margin: 0 auto;
  margin-top: 150px;
  margin-bottom: 50px;
  text-align: center;
  font-size: 1.5rem;
  text-transform: capitalize;
  /* background: var(--background); */
  color: var(--text);
  font-weight: 600;
  font-family: Merriweather, serif;
}

.story-item .content .underline {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 150px;
}

.underline {
  align-content: center;
  width: 30vw;
  height: 2px;
  border-radius: 6px;
  background-image: linear-gradient(to right, #0aea93, #000000);
  /* background: #2bb769; */
  margin-left: 400px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.story-item p {
  min-width: 100%;
  width: 100%;
  text-indent: 5rem;
  padding-top: 0.5rem;
  padding-bottom: 0vh;
  /* background: var(--background); */
  color: var(--text);
  font-family: "Courier Prime", monospace;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 2rem;
  text-align: justify;
  align-content: center;
  justify-content: left;
}

@media screen and (max-width: 768px) {
  .story-item .content {
    width: 100%;
    margin-top: 35px;
  }

  .story-item .content .title {
    font-size: 18px;
  }

  .story-item .item-arrow {
    margin: auto;
  }

  .story-item .icon {
    width: 100%;
  }

  .story-item .icon img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }

  .story-item {
    width: 92%;
    margin: auto;
  }

  .story-item a {
    display: block;
    padding: 30px;
  }

  .story-item p {
    font-size: 3vw;
  }
}

.goTop {
  position: fixed;
  z-index: 999;
  right: 0;
  top: 95vh;
  transform: translateY(-50%);
  padding: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 1rem;
  background: var(--background);
  color: var(--text);
  border: none;
  opacity: 0;
  transition: opacity 0.4s linear;
  border-radius: 100%;
}
.goTop.is-visible {
  opacity: 1;
}

.theme-switch {
  margin-left: 85vw;
  margin-top: -7vh;
  --background: #fff;
  --text: #000;
  color: var(--text);
  height: 50px;
  width: 25px;
  background: var(--highlight);
  border-radius: 50px;
  position: relative;
  /* transform: translatey(-58px); */
}

.theme-switch .switch {
  background: white;
  width: 25px;
  height: 25px;
  background: var(--background);
  border-radius: 100%;
  position: absolute;
  transition: 0.5s all ease;
}

#navbar ul li a {
  color: var(--background);
}

#navbar ul li:hover {
  /* background: transparent; */
}

.light-theme {
  --background: #000000;
  --text: #0aea93;
  color: var(--text);
  background: var(--background);
}
.light-theme2 {
  --background2: #000000;
  --text: #0aea93;
  color: var(--text);
  background: var(--background2);
}

.light-theme .theme-switch {
  background: var(--text);
}
.light-theme .theme-switch .switch {
  transform: translatey(28px);
}
.light-theme a {
  color: var(--text);
}

.list1 {
  /* padding-top: 2em; */
  color: #165fc8;
  transition: all 1s ease;
}

.list1:hover {
  transform: scale(1.05);
  background-color: #20202096;
  /* border: 5px solid #02020283; */
  box-shadow: -1px -1px 1px 0px rgb(0, 0, 0), 1px 1px 0px 0px rgb(0, 0, 0),
    inset -1px -1px 1px 2px rgb(16, 233, 186),
    inset -1px -1px 1px 2px rgb(14, 233, 186);
  border-radius: 6px;
}
